<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Details</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>


    <div class="single_food_item media">
        <img src="{{food.slika}}" class="mr-3" alt="...">
        <div class="media-body align-self-center">
            <h3>{{food.naziv}}</h3>
            <p>{{food.komentar}}</p>
            <h5>${{food.cena}}</h5>
            <h5>Ocena: {{food.ocena}}</h5>
            <form action="/delete/{{food.id}}">
                <button type="submit">Delete</button>
           </form>
           
        </div>

        
    </div>


    <a href="/">Nazad</a>
</body>
</html>